<configuration>
    <property name="LOG_ROOT" value="logs" />

    <logger name="slick" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %-35(%file:%line) %X{compositeKey} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for General Debug Logs -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app-debug.log</file>
        <encoder>
            <pattern>%date %-5level %-35(%file:%line) %X{compositeKey} - %msg%n</pattern>
<!--            <pattern>%date %-5level [%file:%line] [%X{compositeKey}] %msg%n</pattern>-->
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- Keeps 30 days of history -->
        </rollingPolicy>
    </appender>

    <!-- Sifting Appender for Different Log Categories -->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>compositeKey</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>

        <sift>
            <!-- Dynamic file name pattern -->
            <appender name="FILE-${compositeKey}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_ROOT}/${compositeKey}.log</file>
                <encoder>
<!--                    <pattern>%date %-5level [%file:%line] %msg%n</pattern>-->
                    <pattern>%date %-5level %-35(%file:%line) - %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_ROOT}/${compositeKey}.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <!-- Root Logger Configuration -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Separate Logger for DEBUG level which logs to the file -->
    <logger name="com.tosware.nkm" level="debug" additivity="true">
        <appender-ref ref="FILE"/>
        <appender-ref ref="SIFT"/>
    </logger>

</configuration>
