<configuration>
    <!-- Path where log files are stored -->
    <property name="LOG_ROOT" value="logs" />

    <!-- Slick Database logger -->
    <logger name="slick" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %-35(%file:%line) %X{compositeKey} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for General Debug Logs -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app-debug.log</file>
        <encoder>
            <pattern>%date %-5level %-35(%file:%line) %X{compositeKey} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- TODO: Make writing to files async: https://doc.akka.io/docs/akka/current/logging.html -->

    <!-- Sifting Appender for Different Log Categories -->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>compositeKey</key>
            <defaultValue>uncategorized</defaultValue>
        </discriminator>

        <sift>
            <appender name="FILE-${compositeKey}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_ROOT}/${compositeKey}.log</file>
                <encoder>
                    <pattern>%date %-5level %-35(%file:%line) - %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_ROOT}/${compositeKey}.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="SIFT"/>
    </root>
</configuration>
